<div cdkDropList [ngClass]="addNewProjectVisible ? 'addTopSpace' : ''" class="col-sm-12 center projects-list" (cdkDropListDropped)="drop($event)">
    <div id="project{{project.key}}" class="projects-box" *ngFor="let project of projectList" cdkDrag>
        <div class="col-sm-1 checkbox-project">
        </div>
        <div (click)="onClickProject(project.key, project.title)" class="col-sm-7 user-spectory-com">
            {{ project.title }}
        </div>
        <div class="col-sm-3 rightSide">
            <div class="date" style="display: '';">
                {{ project.date_created }}
            </div>
            <svg (click)="deleteProject(project)" style="display: none;" class="delete svgDeleteProject" width="14px"
                height="18px" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>delete</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="3_mouse-hover_state" transform="translate(-469.000000, -296.000000)">
                        <g id="my_projects" transform="translate(104.000000, 104.000000)">
                            <g id="icon/delete" transform="translate(360.000000, 189.000000)">
                                <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                <path
                                    d="M16,9 L16,19 L8,19 L8,9 L16,9 L16,9 Z M14.5,3 L9.5,3 L8.5,4 L5,4 L5,6 L19,6 L19,4 L15.5,4 L14.5,3 Z M18,7 L6,7 L6,19 C6,20.1 6.9,21 8,21 L16,21 C17.1,21 18,20.1 18,19 L18,7 Z"
                                    id="Shape" fill="#CCD4DC" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

<!-- <input type="checkbox" [checked]="item.check == 'true'"> -->